*
{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}

body
{
    background-color: blueviolet;
    color: white;
}

.container
{
    margin: 8%;
    width: 90%;
    max-width: 700px;
}

.display
{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    border-radius: 5px;
}

.container h1{
    font-weight: 600;
    font-size: 45px;
}
.container h1 span
{   color:#83c754; 
    border-bottom: 4px solid #83c754; 
    padding-bottom: 7px;
}

.display img{
    width: 55px;
    cursor: pointer;
    transition: 0.3s;
}

.display img:hover{
    transform: scale(1.15);
}

.display input
{
    border: 0;
    outline: 0;
    font-size: 24px;
}

.container button img
{
    width: 28px;
    margin-right: 10px;
}



.container button
{
    border: 0;
    outline: 0;
    background-color: #83c754;
    color: black;
    font-size: 24px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 16px;
    border-radius: 3px;
    cursor: pointer;
}

.container button:hover
{
    background-color: #4b911a;
}